{% extends 'base.html' %}

{% block content %}
<h3>This is the About Us page!</h3>
<p>Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Accusamus accusantium
    culpa excepturi facere fuga iste laborum
    magnam minima molestiae nihil odio omnis
    quam quod repudiandae sapiente sunt, velit.
    Accusantium, minima! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet architecto aspernatur autem corporis cupiditate, deserunt earum eos ipsum, molestias numquam perspiciatis quae quam ratione reiciendis tempore totam, voluptates voluptatum.</p>
<button class="btn-btn-danger">Save</button>

{% end block %}