<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact-us</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
<body>
<h3>This is the contact us page.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam deserunt doloremque, error esse expedita illum laboriosam minus nesciunt numquam officia pariatur quaerat quidem quis quos sint soluta totam voluptas.</p>
</body>
</html>